.section {
    padding: 40px 20px;
    background-color: #0b0b0b;
    color: #ffffff;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #F0113C;
}

.section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section ul li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.game-header {
    text-align: center;
    padding: 40px 20px;
    background-color: #1a1a1a;
    border-bottom: 2px solid #F0113C;
}

.game-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #F0113C;
}

.game-header p {
    font-size: 1.2rem;
}

.cover-image .image-container {
    display: flex;
    justify-content: center;
}

.cover-image img {
    width: 550px;
    height: auto; 
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px #F0113C;
    margin-bottom: 20px;
}

.game-info {
    background-color: #141414;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.game-info table {
    margin: 0 auto;
    width: 80%;
    
}

.game-info th,
.game-info td {
    padding: 10px;
    font-size: 1.2rem;
}

.game-info th {
    background-color: #1a1a1a;
    color: #F0113C;
}

.game-info td {
    background-color: #0b0b0b;
}

.game-info td:first-child {
    text-align: right;
}

.game-info th:first-child {
    text-align: right;
}

.game-details {
    padding: 40px 20px;
    background-color: #0b0b0b;
    color: #ffffff;
    
}

.game-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #F0113C;
}

.game-details table {
    width: 100%;
    border-collapse: collapse;
    
}

.game-details table,
.game-details th,
.game-details td {
    border: 1px solid #F0113C;
}

.game-details th,
.game-details td {
    padding: 10px;
    text-align: left;
    font-size: 1.2rem;
}

.game-details th {
    background-color: #1a1a1a;
    color: #F0113C;
    
}

.game-details td {
    background-color: #0b0b0b;
}

.additional-info-links {
    color: white;
    text-decoration: none;
}

.additional-info-links:hover {
    text-decoration: none; 
    color: #F0113C;
}

.additional-info-links:active {
    color: #F0113C;
}

.screenshots {
    margin-top: 20px;
}

.screenshot-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.screenshot {
    width: calc(33.33% - 10px); 
    margin-right: 10px;
    margin-bottom: 50px;
}

.screenshot img {
    width: 750px;
    height: auto; 
    object-fit: cover;
    border: 2px solid #F0113C;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.modal-content {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.close-modal {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 70px; 
    right: 20px;
    cursor: pointer;
}