.section {
    padding: 40px 20px;
    background-color: #0b0b0b;
    color: #ffffff;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #F0113C;
}

.section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section ul li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.game-header {
    text-align: center;
    padding: 40px 20px;
    background-color: #1a1a1a;
    border: 2px solid #F0113C;
    border-radius: 15px;
}

.game-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #F0113C;
}

.game-header p {
    font-size: 1.2rem;
}

.game-info {
    background-color: #141414;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.game-info table {
    margin: 0 auto;
    width: 80%;
}

.game-info th,
.game-info td {
    padding: 10px;
    font-size: 1.2rem;
}

.game-info th {
    background-color:  #0b0b0b;
    color: #F0113C;
}

.game-info td {
    background-color:  #0b0b0b;
}

.game-info td:first-child {
    text-align: right;
}

.game-info th:first-child {
    text-align: right;
}

.game-details {
    padding: 40px 20px;
    background-color:  #0b0b0b;
    color: #ffffff;
    
}

.game-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #F0113C;
}

.game-details table {
    width: 100%;
    border-collapse: collapse;
    
}

.game-details table,
.game-details th,
.game-details td {
    border: 1px solid #F0113C;
}

.game-details th,
.game-details td {
    padding: 10px;
    text-align: left;
    font-size: 1.2rem;
}

.game-details th {
    background-color:  #0b0b0b;
    color: #F0113C;
    
}

.game-details td {
    background-color:  #0b0b0b;
}

.additional-info-links {
    color: white;
    text-decoration: none;
}

.additional-info-links:hover {
    text-decoration: none; 
    color: #F0113C;
}

.additional-info-links:active {
    color: #F0113C;
}

.cover-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.cover-image .image-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px #F0113C;
}

.cover-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 15px;
}

.screenshot-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px; 
    padding: 40px 0;
}

.screenshot {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    height: auto;
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px #F0113C;
    position: relative;
}

.screenshot img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.screenshot:hover {
    transform: scale(1.03); 
}

.screenshot-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
    opacity: 0;
}

.screenshot:hover .screenshot-caption {
    opacity: 1;
}

.screenshot-gallery h2 {
    width: 100%;
    font-size: 2rem;
    color: #F0113C;
    margin-left: 43px;
    margin-bottom: 20px;
}

.screenshot-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #F0113C;
}

.screenshot-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    height: auto;
    max-height: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.game-trailers-container {
    background-color: #0b0b0b;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #F0113C;
    margin-top: 20px;
    margin-bottom: 20px;
}

.trailer-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 20px;
}

.trailer {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px #F0113C;
    position: relative;
}

.trailer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.trailer-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.trailer:hover .trailer-caption {
    opacity: 1;
}

.trailer-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    display: flex;
}

.trailer-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    height: auto;
    max-height: 450px;
    position: relative;
    margin: 0 auto; 
    transform: translateY(-20%); 
}

.trailer-modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-trailer-modal {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 20px; 
    right: 20px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.modal-content {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 80%;
}

.close-modal {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 70px; 
    right: 20px;
    cursor: pointer;
}

/* Mobile Optimization */

@media (max-width: 768px) {
    .section {
        padding: 20px 10px;
    }

    .section h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .section p, 
    .section ul li {
        font-size: 1rem;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .game-header {
        padding: 20px 10px;
    }

    .game-header h1 {
        font-size: 2rem;
        margin-bottom: 8px;
    }

    .game-header p {
        font-size: 1rem;
    }

    .cover-image .image-container {
        flex-direction: column;
        align-items: center;
    }

    .cover-image img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .game-info {
        margin: 20px 10px;
        border-radius: 10px;
    }

    .game-info table {
        width: 100%;
    }

    .game-info th,
    .game-info td {
        font-size: 1rem;
        padding: 8px;
    }

    .game-details {
        padding: 20px 10px;
    }

    .game-details h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .game-details table,
    .game-details th,
    .game-details td {
        font-size: 1rem;
        padding: 8px;
    }

    .screenshot, .trailer {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 0 5px 20px 5px; 
    }

    .screenshot img, .trailer img {
        object-fit: cover;
    }

    .screenshot-modal-content img,
    .trailer-modal-content img {
        max-width: 100%;
        height: auto;
    }

    .trailer-modal-content {
        width: 80vw;
        height: 80vw; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .trailer-modal-content iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
