.welcome-section {
    text-align: center;
    padding: 40px;
    background-color: #141414;
    border-radius: 15px;
    margin: 20px 0;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(240, 17, 60, 0.6);
}

.welcome-section img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

.welcome-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #f0113c;
    text-transform: capitalize;
}

.welcome-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-transform: capitalize;
}


.latest-games-section,
.latest-news-section {
    padding: 40px;
    background-color: #141414;
    border-radius: 15px;
    margin: 20px 0;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(240, 17, 60, 0.6);
}

.latest-games-section h2,
.latest-news-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f0113c;
    text-transform: capitalize;
}

.latest-games-section .game-card,
.latest-news-section .news-card {
    display: flex;
    margin-bottom: 30px;
    background-color: #0b0b0b;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(240, 17, 60, 0.6);
}

.latest-games-section .game-card img,
.latest-news-section .news-card img {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.latest-games-section .game-card .game-info,
.latest-news-section .news-card .news-info {
    flex: 1;
    padding: 20px;
}

.latest-games-section .game-card h3,
.latest-news-section .news-card h3 {
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #F0113C;
}

.latest-games-section .game-card p,
.latest-news-section .news-card p {
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
}

.latest-games-section .game-card .game-info a,
.latest-news-section .news-card .news-info a {
    display: block;
    margin-top: 10px;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .welcome-section, 
    .latest-games-section, 
    .latest-news-section {
        padding: 20px;
    }

    .welcome-section h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .welcome-section p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .latest-games-section h2,
    .latest-news-section h2 {
        font-size: 1.8rem;
    }

    .latest-games-section .game-card,
    .latest-news-section .news-card {
        display: block;
    }

    .latest-games-section .game-card img,
    .latest-news-section .news-card img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .latest-games-section .game-card .game-info,
    .latest-news-section .news-card .news-info {
        padding: 15px;
    }

    .latest-games-section .game-card h3,
    .latest-news-section .news-card h3 {
        font-size: 1.4rem;
    }

    .latest-games-section .game-card p,
    .latest-news-section .news-card p {
        font-size: 1rem;
        margin-bottom: 15px;
    }
}